@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.opensans {
    font-family: "Open Sans", sans-serif;
}
body {
    color: #CFA9BC;
    background: #ffffff;
}
h2 {
    text-align: center;
}
.report {
    /*display: block;*/
}
#locationtable {
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    align-items: center;
    text-align: center;
    align-content: center;
}
#locationbutton {
    margin-top: 10px;
    margin-bottom: 30px;
}
#incidenttable{
    position: relative;
    width: 43%;
    left: 22%;
    right: 25%;
    align-items: center;
    text-align: center;
    align-content: center;
}
td {
    align-self: left;
}
tr {
    padding-top: 10px;
    padding-bottom: 10px;
}
button {
    padding: 10px 24px;
    font-size: 12px;
    transition-duration: 0.4s;
    background-color: white;
    color: gray;
    border: 2px solid #ece1eb;
    align-self: center;
  }
  
  button:hover {
    background-color: #ece1eb;
    color: gray;
    border: 2px solid #ece1eb;
  }
#submit{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    align-self: center;
    align-content: center;
    margin-bottom: 20px;
}
.banner{
    width: 100%;
    color: #ffffff;
    background: #CFA9BC;
    fill-opacity: 20%;
    text-align: center;
}

#title{
    padding-top: 25px;
    margin-bottom: -15px;
}
#subtitle {
    margin-top: 0pt;
    padding-bottom: 35px;
    

}
.map{
    color: #ffffff;
    background: #CFA9BC;
    margin: 40px;
    padding: 20px 20px;
}
#map { 
    margin: 50px 50px 50px 50px;
    height: 250px; 
}
.report{
    color: #ffffff;
    background: #CFA9BC;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.footer {
    background: #CFA9BC;
    margin: 40px;
    padding: 20px 20px;
 }
 #mapContainer {
    width: 80vw;
    height: 100vh;
   }
 .footer p{
     color: #ffffff;
     text-align: right;
}
